.fadein { position:relative; width:500px; height:332px; }
.fadein img { position:absolute; left:0; top:0; }

.tb {
  width: 500px;
  height: 332px;
  color: black;
  border: 1px solid black;

}

h1 {
  color:green;
}
