.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.navbar-brand {
        font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.card-img-top {
    width: 286px;
    height: 180px;
    object-fit: cover;
}

#tetris-image {
    object-position: 0 -400px;
}