

#project-label {
    font-size: 30px;
        font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#project-subhead {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

#project-description {
    font-size: 16px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;

}


#tetris-img {
    width: 100%;
}



